<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-white">dancetango.net</h1>
    <p class="lead text-white ml-0">New website under contruction</p>
  </div>
</div>



<div class="container">

      <div class="row py-1">
        <% @courses.each do |course| %>
        <div class="col-md-6 text-center mt-4">
          



          <h2><%= course.title %></h2>
          <p>
          <strong>Date:</strong> <%= course.date.strftime("%A %d %B") %><br>

          <strong>Time:</strong> <%= course.start_time.strftime("%H:%M") %> til <%= course.finish_time.strftime("%H:%M") %> <br>
          <strong>Location:</strong> <%= course.location %><br>
          </p>
          
          <p><%= course.info %></p>

         
          
          <table class="table table-striped">
          
            <tbody>
              <tr>
               
                <td>Price</td>
                <td>£<%= course.price %></td>
            
              </tr>
           
            </tbody>
          </table>

         <div>
        <strong>Class Booking</strong>
         <%= render html: course.booking_link.html_safe %>
         <hr>
         </div> 
         
         <% if course.private_link.present? %>
         <div class="mt-2">
            <strong>Private Lessons</strong>
           <%= render html: course.private_link.html_safe %>
           <hr>
         </div>
         <%end%>
        

        <div class="row mt-2">
          <div class="mx-auto">
            <%= link_to 'More info', course, :class => 'text-white btn btn-primary btn-lg btn-block' %>
          </div>
          
          
        </div>  
        </div>
        <% end %> 

        
    </div>


</div>
